@import url("https://fonts.googleapis.com/css?family=Merriweather:400i|Montserrat:400,\a  700|Roboto+Slab");
/* FOR MOBILES: 767px width */
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 4.688rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5.688rem;
  font-size: 2.5rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

p {
  font-family: "Roboto Slab", serif;
  color: #777;
  font-size: 0.875rem;
}

.italic {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  padding-bottom: 3.375rem;
}

.lead {
  color: #777;
  font-style: italic;
}

time, h4 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  padding-bottom: 0;
}

h4 {
  padding-bottom: 0;
}

h5 {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  margin-top: 5rem;
}

/* HEADER */
.header {
  background-image: url("psd/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  color: white;
}
.header .transparency {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
}
.header nav {
  margin: 0 auto;
  padding-top: 2.813rem;
}
.header nav .logo {
  display: inline-block;
}
.header nav ul {
  list-style: none;
  padding: 0;
}
.header nav ul li {
  display: block;
  padding-bottom: 0.2rem;
}
.header nav ul li a {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.2rem 0.7rem;
  text-decoration: none;
  color: white;
}
.header nav ul li a:hover {
  color: #fed136;
}

.button {
  background-color: #fed136;
  font-family: "Montserrat", sans-serif;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  transition: 0.6s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10.13rem;
}
.button:hover {
  transform: scale(1.1);
}

/* SERVICES SECTION */
.services .circle {
  margin: 0 auto;
  width: 4.688rem;
  height: 4.688rem;
  border: 0.2rem solid #fed136;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .circle img {
  width: 50%;
}
.services p {
  padding-bottom: 7.5rem;
}

.portfolio {
  background-color: #f7f7f7;
}
.portfolio .square {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio .img-1 {
  background-image: url("psd/branding.png");
}
.portfolio .img-2 {
  background-image: url("psd/stationary.png");
}
.portfolio .img-3 {
  background-image: url("psd/vinyl.png");
}
.portfolio .img-4 {
  background-image: url("psd/poster.png");
}
.portfolio .img-5 {
  background-image: url("psd/template.png");
}
.portfolio .img-6 {
  background-image: url("psd/burned.png");
}
.portfolio .desc {
  display: grid;
  min-auto-columns: 5.938rem;
  background-color: white;
}
.portfolio .desc h3 {
  font-size: 1rem;
}
.portfolio .desc h3 a {
  text-decoration: none;
  color: black;
  transition: 0.6s ease-in-out;
}
.portfolio .desc h3 a:hover {
  color: #fed136;
}
.portfolio .desc .category {
  font-style: italic;
}
.portfolio .second-row {
  padding-bottom: 7.688rem;
}

/* ABOUT SECTION */
.timeline .row {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}
.timeline .row:last-of-type {
  margin-bottom: 0;
}
.timeline .row .image {
  width: 10.7rem;
  height: 10.7rem;
  border-radius: 50%;
  border: solid 4px #ccc;
  margin: 0 auto;
}
.timeline .row .text {
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.circle {
  width: 10.13rem;
  height: 10.13rem;
  border-radius: 50%;
  background-color: #fed136;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  margin: 0 auto;
}
.circle h6 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/* TEAM */
.team {
  background-color: #f7f7f7;
}
.team .square {
  margin: 0 auto;
  max-width: 13.75rem;
  max-height: 13.75rem;
}
.team .square img {
  width: 100%;
  border-radius: 50%;
}
.team p {
  font-size: 0.75rem;
  margin-top: 0;
}
.team .icon-btn {
  min-width: 1.7rem;
  min-height: 1.7rem;
  background-color: transparent;
  border: 0.1rem solid black;
  border-radius: 50%;
  padding: 0.2rem;
  transition: 0.6s ease-in-out;
  cursor: pointer;
  margin-bottom: 3.375rem;
}
.team .icon-btn a {
  color: black;
  transition: 0.6s ease-in-out;
}
.team .icon-btn:hover {
  border: 0.1rem solid #fed136;
}
.team .icon-btn:hover a {
  color: #fed136;
}
.team .slogan {
  font-family: "Roboto Slab", serif;
  color: #777;
  font-size: 1rem;
  padding-bottom: 7.5rem;
}

/* LOGOS */
.companies {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.companies .row-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}
.companies .row-four img {
  width: 80%;
}

.contact {
  background-color: #222222;
  background-image: url("psd/map.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.contact h2 {
  color: white;
}
.contact form {
  padding-top: 4.688rem;
  padding-bottom: 1.875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.contact form input,
.contact form textarea {
  font-family: "Montserrat", sans-serif;
  border-radius: 2px;
  font-weight: 700;
  border: transparent;
  color: #777;
  text-transform: uppercase;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1.4rem;
}
.contact form input {
  grid-auto-columns: 1;
  grid-row: auto;
}
.contact form textarea {
  grid-auto-columns: 2;
  grid-row: 1/4;
}

footer p {
  float: left;
  font-size: 0.75rem;
  display: inline;
  margin-top: 1rem;
}
footer .media {
  display: inline-block;
  align-self: right;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
footer .media .icon-btn {
  width: 1.7rem;
  height: 1.7rem;
  background-color: black;
  border: 0.1rem solid black;
  border-radius: 50%;
  padding: 0.2rem;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
footer .media .icon-btn a {
  color: white;
  transition: 0.6s ease-in-out;
}
footer .media .icon-btn:hover {
  border: 0.1rem solid #fed136;
  background-color: #fed136;
}
footer .media .icon-btn:hover a {
  color: white;
}

@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
    margin-top: 5rem;
  }

  nav {
    padding-bottom: 13.19rem;
  }
  nav .logo {
    display: inline-block;
    float: left;
  }
  nav .navbar {
    float: right;
  }
  nav .navbar ul li {
    display: inline-block;
    padding-bottom: 0;
  }

  .about .lead {
    padding-bottom: 1rem;
  }

  .timeline {
    background-image: url("https://image.ibb.co/c5P7n6/bg.png");
    background-repeat: repeat-y;
    background-position: center;
    margin-top: 5rem;
  }
  .timeline time, .timeline h4,
  .timeline h4 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .timeline .row {
    width: calc(50% + 89.5px);
    margin-bottom: 50px;
    margin-left: 1rem;
  }
  .timeline .row:last-of-type {
    margin-bottom: 0;
  }
  .timeline .row .text {
    width: 100%;
  }
  .timeline .row .image {
    border-radius: 50%;
    border: solid 4px #ccc;
  }
  .timeline .row.odd {
    text-align: right;
    float: left;
    margin-right: 1rem;
  }
  .timeline .row.odd .image {
    float: right;
  }
  .timeline .row.even {
    text-align: left;
    float: right;
    margin-right: 1rem;
  }
  .timeline .row.even .image {
    float: left;
  }
  .timeline .circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .team {
    margin-top: 14rem;
  }

  .portfolio .square {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  form {
    grid-template-columns: 1fr 1fr !important;
  }
  form input {
    grid-auto-columns: 2;
    grid-row: auto;
  }
  form textarea {
    grid-auto-columns: 1;
    grid-row: 1/4;
  }

  footer .media {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
  }
}

/*# sourceMappingURL=style.css.map */
